//- Dark City, Shining Babel - Header and Navigation
//- Underground Zine Aesthetic: Photocopied dossier header

.header
    //- Main title block - looks like a stamped/stenciled header
    .title-block
        .title-main
            span.title-dark DARK CITY
            span.title-comma ,
            span.title-shining SHINING BABEL
        .title-sub
            span.dossier-type(data-i18n="RUNNER_DOSSIER") RUNNER DOSSIER

    //- Tab navigation - labels point to root-level radio buttons
    .tab-nav
        label.tab-button(for="tab_character")
            span.tab-text(data-i18n="CHARACTER") CHARACTER
        label.tab-button(for="tab_crew")
            span.tab-text(data-i18n="CREW") CREW

    //- Settings toggle (edit mode)
    .header-controls
        label.edit-toggle
            input(type="checkbox", name="attr_edit_mode", value="1", checked)
            span.toggle-label(data-i18n="EDIT_MODE") Edit
