//- Dark City, Shining Babel - Main Template
//- Roll20 Character Sheet for a Blades in the Dark hack
//- Underground Zine Aesthetic

include pug/mixins.pug

//- Tab radio buttons MUST be at root level for CSS sibling selectors to work
input(type="radio", name="attr_sheet_tab", value="character", checked, id="tab_character").tab-radio
input(type="radio", name="attr_sheet_tab", value="crew", id="tab_crew").tab-radio
input(type="radio", name="attr_sheet_tab", value="factions", id="tab_factions").tab-radio

//- Edit mode is now per-section (checkbox inside each editable section)

//- Main container
.charsheet
    include pug/header.pug

    //- Character tab content
    .tab-content.character-content
        include pug/character.pug

    //- Crew tab content
    .tab-content.crew-content
        include pug/crew.pug

    //- Factions tab content
    .tab-content.factions-content
        include pug/factions.pug

    //- Roll templates
    include pug/rolltemplate.pug

//- Sheet workers
script(type="text/worker")
    | (function () {
    |   "use strict";
    include workers.js
    | })();
